.product-card {
  display: flex;
  width: 550px;
  margin: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}

.product-header {
  position: relative;
  width: 80%;
  & img {
    width: 70%;
  }
  & h2 {
    padding-left: 20px;
  }
  & span {
    display: inline-block;
    color: #454444;
    font-size: 16px;
    padding: 20px;
  }
  & .article {
    display: inline-block;
    color: #888888;
    font-size: 12px;
    padding: 10px;
    position: absolute;
    left: 5px;
    top: 5px;
  }
}

.product-bio {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly ;
  width: 20%;
  position: relative;
  & .favorites {
    font-size: 22px;
    position: absolute;
    top: 5px;
    right: 5px;
    color: rgb(199, 0, 57);
    cursor: pointer;
  }
  & button {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  & h4 {
    color: #0ba26e;
    align-self: end;
    font-size: 20px;
  }
}