@mixin mobile-menu-link {
    display: block;
    width: 100%;
    padding: 8px 12px;
    font-family: Roboto, sans-serif;
    font-size: 11px;
    color: #4E4E4E;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 15px;
    letter-spacing: 1.1px;

}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin section-title {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  color: #4E4E4E;
  text-transform: uppercase;
}

@mixin post-title {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  color: #4E4E4E;
  padding: 11px 0 0 0;
}

@mixin post-link {
  font-family: Roboto, sans-serif;
  font-size: 11px;
  line-height: 20px;
  color: #7C7C7C;
  text-decoration: none;
  font-weight: normal;
}

@mixin footer-icon {
  padding: 12px;
  border: 2px solid;
  border-radius: 50%;
  margin-right: 5px;
  font-size: 14px;
}