.container {
    width: 90%;
    margin: 0 auto;
}

ul {
    list-style: none;
}

p:nth-child(even) {
    color: #016d6d;
    font-style: italic;
}

h2 {
    color: black;
}

div {
    color: #4E4E4E;
}

.loader{
    display: inline-block;
    width: 20px;
    height: 20px;
}
.loader:after {
    content: " ";
    display: block;
    width: 14px;
    height: 14px;
    margin: 4px;
    border-radius: 50%;
    border: 6px solid #cef;
    border-color: #cef transparent #cef transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}