html,body {
    margin: 0;
    padding: 0;
}

body {
    background: #bfbfbf;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 470px;
    margin: 0 auto
}

.game {
    border: 1px solid #191919;
    border-radius: .4em;
    bottom: 0;
    box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
    height: 500px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 500px;
    background: #B9B9B9;
}

span {
    font-size: 20px;
    color: #fff;
    margin: 50px;
}

button {
    color: #fff;
    margin: 40px;
    background: #7ec7ff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
table {
    width: 100%;
    height: 100%;
}

td {
    border: 1px solid #191919;
}

.wait {
    background: yellow;
}

.userpoint {
    background: green;
}

.computerpoint {
    background: red;
}