@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    overflow: hidden;

}

.container {
    width: 100%;
    background: #224343;
    display: flex;
    overflow: auto;
    height: 100vh;
}

.card {
    min-width: 300px;
    margin: 60px 10px;
    background-color: #ebecf0;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    position: relative;
    white-space: normal;
}

input {
    color: #1c1c1c;
    padding: 10px;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    outline: none;
}

.btn-sort {
    position: absolute;
    top: 0;
    right: -15px;
    font-size: 12px;
}
.btn-sort:hover {
    background: none;
    font-weight: bold;
}
button {
    border: none;
    background: none;
    outline: none;
    padding: 10px;
    width: 30%;
    align-self: center;
    cursor: pointer;
}

button:hover {
    background: #cfcece;
    border-radius: 5px;
}

.btn-add-column {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #e3e3e3;
    color: black;
    width: 100px;
}

.btn-add {
    margin: 5px 0;
}

.card-text {
    width: 80%;
    align-self: center;
    padding: 25px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #fff;
    cursor: move;
}

textarea {
    width: 100%;
}
.selected {
    opacity: 0.6;
}