@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(21, 22, 22);
}

.header {
    display: flex;
    background: rgb(21, 22, 22);
    justify-content: space-between;
}
.header__row {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 2px;
    background: #F38A03;
}

.logo {
    margin-left: 12px;
    max-width: 100%;
}
.header__row::after, .header__row::before {
    position: absolute;
    display: inline-block;
    content: '';
    width: 25px;
    height: 2px;
    background: #F38A03;

}

.header__row::after {
    left: 0;
    top: -10px
}

.header__row::before {
    left: 0;
    bottom: -10px
}

.header__menu-btn {
    border: none;
    background: transparent;
    padding: 25px 25px;
}

.navigation {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background: #000;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
    transform: translateX(-700%);
    transition: transform 200ms;
}

.navigation:target{
    transform: translateX(0);
}
.navigation li {
    padding: 20px;
    color: #fff;
    font-size: 20px;
}

.navigation li a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
}

.navigation li a:hover {
    color:#ED1260;
}

.top-section {
    background-image: url(../img/header_back.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 88% 0%;
    height: 460px;
    width: 100%;
}

.site-title {
    display: inline-block;
    background-color: #000;
    padding: 41px 31px;
    margin-left: 12px;
    margin-top: 37px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

.site-link {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    color: #fff;
    background-color: #000;
    padding: 7px 32px;
    font-size: 16px;
    margin-left: 75px;
    margin-top: 15px;

}
.squad-decoration{
    background: #ED1260;
    height: 64.56px;
    width: 265.9px;

}

.wrapper {
    margin: 0 auto;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 38px;
}

.section__description p {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
}

.section__description {
    width: 265px;
}

.options_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    width: 311px;
    align-items: center;
}

.card p{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #fff;
    padding: 13px 0px 20px 0px;
}

.card img {
    text-align: center;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.map {
    position: relative;
    margin: 15px;
    border: 5px solid #ED1260;
}
.map img {
    padding: 15px;
    width: 100%;
}
.map i {
    color: #ED1260;
    position: absolute;
    left: 52%;
    top: 26%
}
.map-adress {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    text-align: center;
    padding: 7px;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #F38A03;
    justify-content: space-between;
    margin-top: 63px;
}

.contacts h2 {
    text-transform: uppercase;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-top: 26px;
}
.contact-card {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #fff;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    
}

.contact-icon i {
    color: #F38A03;
    font-size: 22px;
}

.contact-icon {
    display: flex;
    align-items: center;
}

.contact-card div {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #fff;
    padding-bottom: 5px;
    width: 160px;
}

.contact-box {
    width: 216px;
    margin-top: 22px;
}

.sub-item {
    display: none;
    font-size: 25px;
    line-height: 30px;
}

@media (min-width: 768px) {
    .header__menu-btn {
        display: none;
    }
    .wrapper {
        width: 768px;
    }
    .options_card {
        width: 100%;
    }
    .navigation {
        transform: unset;
        border: unset;
        box-shadow: unset;
        background: transparent;
        height: unset;
        width: 42%;
        right: 155px;
    }
    .navigation li:nth-child(1) {
        display: none;
    }
    .navigation ul {
        display: flex;
        justify-content: space-between;
    }
    .map i {
        top: 29%
    }
}

@media(min-width: 1280px) {
    .wrapper {
        width: 1064px;
        
    }
    .header {
        margin-bottom: 44px;
    }

    .box {
        flex-direction: unset;
        align-items: unset;
    }
    .squad-decoration {
        width: 107px;
        height: 265.9px;
        margin-left: -7px; 
    }
    .section__description{
        width: unset;
    }
    .section__description p {
        font-size: 25px;
        line-height: 30px;
    }
    .options_card {
        width: 100%;
    }
    .card {
        width: 33%;
        margin-top: 90px;
    }
    .card p{
        font-size: 18px;
        line-height: 22px;
        padding: 10px 55px;
    }
    .map-adress {
        font-size: 22px;
        line-height: 27px;
    }
    .map {
        width: 579px;
        margin: 0 auto;
    }
    .map i {
        top: 29%
    }
    .contacts {
        display: block;
        border: unset;
        width: 981px;
        
    }

    .contacts h2 {
        font-size: 45px;
        line-height: 55px;
        margin-bottom: 81px;
    }
    .contact-box {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .contact-icon {
        align-items: center;
        margin-bottom: 20px;
    }
    .contact-icon i {
        font-size: 30px;
    }
    .contact-card {
        justify-content: unset;
        flex-direction: column;
    }
    .contact-card div {
        width: unset;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    .sub-item {
        display: unset;
        align-self: center;
    }
    .contact {
        margin-top: 120px;
    }
}
