.btns {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: space-between;
  width: 300px;
  &__btn {
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
  }
}