.order-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  & input {
    font-size:14px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
    margin: 20px;
    &:focus {
      outline: none;
    }
  }
  & .checkout {
    color: rgb(199, 0, 57);
    margin: 30px;
  }
  & .form-info {
    display: block;
    color: #000000;
    font-size: 16px;
    padding:10px 10px 0 5px;
    margin: 40px  0 0 40px;
    align-self: flex-start;
    font-weight: bold
  }
  & .form-error {
    color: red
  }
}