.header {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  background: rgb(199, 0, 57);
  &__logo {
    width: 100px;
  }
  & .nav-list {
    display: flex;
    list-style: none;
  }
  & .nav-item {
    padding: 10px;
    a {
      text-decoration: none;
      color: black;
      font-size: 16px;
    }
  }
}
.active {
  font-weight: bold;
}