.container {
    width: 1200px;
    margin: 0 auto;
}

.container button {
    display: block;
    margin: 50px auto;
}

.container span {
    display: block;
    text-align: center;
    font-size: 18px;
    color: #016d6d;
}