@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
  background: #fff;
  font-family: 'Montserrat', sans-serif;
}
.wrapper {
  margin: 0 auto;
  width: 1200px;
}
.section-title {
  text-align: center;
  text-transform: uppercase;
}

