.modal-success {
  width: 517px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #84ea92;
  z-index: 100;

  &__header {
    position: relative;
    background: #4bd69e;

    &__title {
      color: #FFFFFF;
      padding: 25px 30px;
      font-size: 22px;
      margin: 0;
    }

    & button {
      position: absolute;
      top: 10px;
      right: 10px;
      background: none;
      color: #FFFFFF;
      font-size: 35px;
    }
  }

  &__body {
    text-align: center;
    color: #FFFFFF;
    font-size: 15px;
    padding: 0 40px;
  }

  &__footer {
    display: flex;
    justify-content: center;
    & button {
      margin: 25px 5px;
      border-radius: 5px;
      padding: 10px 30px;
    }
  }
}
.modal-delete {
  width: 517px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #E74C3C;
  z-index: 100;

  &__header {
    position: relative;
    background: #D44637;

    &__title {
      color: #FFFFFF;
      padding: 25px 30px;
      font-size: 22px;
      margin: 0;
    }

    & button {
      position: absolute;
      top: 10px;
      right: 10px;
      background: none;
      color: #FFFFFF;
      font-size: 35px;
    }
  }

  &__body {
    text-align: center;
    color: #FFFFFF;
    font-size: 15px;
    background: #E74C3C;
    padding: 0 40px;
  }

  &__footer {
    display: flex;
    justify-content: center;
    & button {
      margin: 25px 5px;
      border-radius: 5px;
      padding: 10px 30px;
    }
  }
}

.overlay {
  position:fixed;
  display:flex;
  width:100%;
  height:100%;
  justify-content:center;
  align-items:center;
  background:rgba(0,0,0,.1);
  z-index:2;
  top: 0;
  left: 0;
}
