* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #b3dbfd;
}
.feed {
    width: 1200px;
    margin: 0 auto;
    background: #b3e7ff;
    padding: 10px;
}

.card {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    padding: 20px;
    margin: 30px auto;
    background: #ecedef;
    width: 50%;
}

.fullname, .userEmail {
    font-size: 13px;
    color: #a4a4a4;
    margin-right: 10px;
}

.cardTitle {
    font-size: 20px;
    text-transform: uppercase;
}

.cardTitle:focus, .description:focus {
    outline: none;
}

.description {
    font-size: 14px;
    color: #4E4E4E;
    margin: 20px 0;
}

.add-btn {
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    background-color: #33bdef;
    border-radius: 6px;
    border: 1px solid #057fd0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #5b6178;
    margin: 20px;
}

.add-bt:hover {
    background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
    background-color: #019ad2;
}

.add-btn:active {
    position: relative;
    top: 1px;
}

.edit-btn, .save-btn {
    border: none;
    font-size: 16px;
    outline: none;
    display: block;
    margin: 0 20px;
    float: right;
    cursor: pointer;

}

.delete-btn {
    border: none;
    font-size: 16px;
    outline: none;
    display: block;
    margin: 0 20px;
    float: right;
    cursor: pointer;
}

.edit-btn:hover {
    color: #a4a4a4;
}

.delete-btn:hover {
    color: #a4a4a4;
}

.editable, .editableds {
    border-bottom: 1px solid #7ec7ff;
    position: relative;
}

.editable::after {
    content: 'edit';
    color: #4E4E4E;
    position: absolute;
    right: -15px;
    top: -35px;
    font-size: 12px;
}

.close-btn {
    border: none;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    background: none;
    position: absolute;
    top: 5px;
    right: 10px;
}
.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    width: 500px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.modal input {
    width: 70%;
    height: 40px;
    display: block;
    margin: 20px;
}

.modal textarea {
    width: 70%;
    height: 100px;
    display: block;
    margin: 20px;
}