.empty-alert {
  display: block;
  text-align: center;
  font-size: 24px;
  color: #454444;
}

.wrapper-cart {
  display: flex;
  width: 1200px;
  justify-content: center;
  margin: 0 auto;
  & .our-products {
    flex-direction: column;
  }
  & .wrapper {
    width: 100%;
  }
  & .form-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}